<!-- home/index.html -->
{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="pt-br"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Portfólio - Matheus Santos</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

   <!-- script
   ================================================== -->   
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/pace.min.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a>Index</a>
		      </div>      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Início</a></li>
						<li><a class="smoothscroll"  href="#about" title="">Sobre</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Formação</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfólio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Serviços</a></li>
					</ul>
				</nav>
   		</div> <!-- /top-bar -->
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World!</h5>
	   			<h1>Matheus Santos</h1>

	   			<p class="intro-position">
	   				<span>Desenvolvedor Full Stack</span>
	   				<span>Python</span>
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">Mais sobre mim</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
		<li><a href="https://www.linkedin.com/in/matheusdeoliveirasantos/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="https://github.com/m4th3vz" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a></li>
		<li><a href="https://www.instagram.com/_m4th3vz" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
		
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Sobre</h5>
   			<h1>Um pouco sobre mim</h1>

   			<div class="intro-info">

   				<img src="{% static 'img/profile-pic.jpg' %}" alt="Profile Picture">

   				<p class="lead">Olá, meu nome é Matheus e sou desenvolvedor júnior. Este website é um projeto desenvolvido em Python e serve como portfólio para que eu possa publicar alguns dos meus projetos. Agradeço por visitar meu site e espero que você goste do meu trabalho!</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Perfil</h3>
   			<p>Entre em contato comigo!</p>

   			<ul class="info-list">
   				<li>
   					<strong>Nome completo:</strong>
   					<span>Matheus de Oliveira Santos</span>
   				</li>
				<li>
					<strong>Formação acadêmica:</strong>
					<span>Bacharel em Tecnologia da Informação</span>
				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>m4th3vz@gmail.com</span>
   				</li>
				   <li>
					<strong>WhatsApp:</strong>
					<span>Número indisponível no momento</span>
				</li>

   			</ul> <!-- /info-list -->

   		</div>	
   		</div>
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Competências</h5>
   			<h1>Licenças e certificados</h1>

   			<p class="lead">Neste espaço, você encontra as minhas licenças e certificados, comprovando minhas qualificações e conquistas ao longo da minha jornada profissional. Cada certificação reflete meu compromisso com o aprendizado contínuo e a excelência na minha área de atuação.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Formação</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bacharelado em Tecnologia da Informação</h3>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>UNIVESP - Universidade Virtual do Estado de São Paulo</h4>
	   					<p>Atualmente, estou cursando Bacharelado em Tecnologia da Informação na Univesp, onde adquiri conhecimentos em diversas áreas do desenvolvimento de software. Durante o curso, aprendi sobre Python, desenvolvimento web, tanto no backend quanto no frontend, trabalhando com HTML, CSS e frameworks como Django e Bootstrap. Além disso, desenvolvi habilidades em bancos de dados, SQL, Git, GitHub, APIs, bem como no deploy de aplicações, consolidando minha capacidade de construir e gerenciar projetos completos.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>EF SET Certificate</h3>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Certificado de Inglês</h4>
	   					<p>Obtive a certificação EF SET, alcançando a pontuação 73/100, correspondente ao nível C2 Proficient no Quadro Europeu Comum de Referência para Línguas (CEFR). Esse resultado comprova minha proficiência na leitura, permitindo-me compreender qualquer tipo de texto, incluindo escritos técnicos e literários complexos, além de captar nuances sutis de estilo e significado implícito. No quesito de compreensão auditiva, alcancei o nível C1 Advanced, demonstrando facilidade para entender discursos extensos, filmes e programas de TV, incluindo expressões idiomáticas e variações de registro com naturalidade. <p>Confira minha certificação EF SET:  
							<a href="https://cert.efset.org/ajstf6" target="_blank" rel="noopener noreferrer">EF SET Certificate</a>.
						 </p>
						 </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Análise de Dados do Google</h3>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Coursera</h4>
	   					<p>O Certificado Profissional de Análise de Dados do Google é composto por oito cursos desenvolvidos pelo Google, com atividades práticas voltadas para a preparação em funções de nível introdutório na área de análise de dados. Durante o programa, adquiri conhecimentos em ferramentas e plataformas como planilhas, SQL, Tableau e R, aprendendo a preparar, processar, analisar e compartilhar dados de forma eficiente para embasar decisões estratégicas. <p>Confira minha certificação no Coursera:  
							<a href="https://www.coursera.org/account/accomplishments/professional-cert/W8SX8NRCU6RF" target="_blank" rel="noopener noreferrer">Coursera</a>.
						 </p>
						 </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

				   <div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>

					<div class="timeline-header">
						<h3>Alura Imersão</h3>
					</div>

					<div class="timeline-content">
						<h4>Alura Imersão</h4>
						<p>Participei da Imersão Alura, onde tive a oportunidade de trabalhar em dois projetos desafiadores e enriquecedores. No primeiro, desenvolvi um projeto do zero utilizando Node.js e a API do Gemini, a inteligência artificial do Google, para integrar funcionalidades inovadoras e criar uma aplicação robusta. No segundo projeto, recriei a página inicial do Spotify utilizando apenas HTML e CSS, aplicando conceitos de layout responsivo e técnicas avançadas de estilização para obter um design visualmente semelhante ao original. <p>
							Confira meus certificados:  
							<a href="https://cursos.alura.com.br/user/m4th3vz/immersion/certificate/50452" target="_blank" rel="noopener noreferrer">API do Gemini</a>
							<a href="https://cursos.alura.com.br/user/m4th3vz/immersion/certificate/62157" target="_blank" rel="noopener noreferrer">Spotify em HTML e CSS</a>.
						 </p></a></p>
					</div>

				</div> <!-- /timeline-block -->

				   <div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>

					<div class="timeline-header">
						<h3>TIC em Trilhas</h3>
					</div>

					<div class="timeline-content">
						<h4>TIC em Trilhas</h4>
						<p>Concluí a certificação do TIC em Trilhas, abrangendo duas áreas essenciais da tecnologia: Pensamento Computacional com Python e Segurança Cibernética: do Ataque à Defesa. Na trilha de Python, aprendi a desenvolver programas aplicando conceitos de código limpo, utilizando IDEs e controle de versão para aprimorar minhas habilidades em desenvolvimento de software. Já na trilha de Segurança Cibernética, explorei as principais ameaças e ataques direcionados a sistemas e dispositivos, aplicando esse conhecimento em ferramentas reais para realização de testes de segurança.<p>
							Confira meus certificados:  
							<a href="https://ticemtrilhas.org.br/certificate-validation?code=c141dc18-bb96-416e-9555-f370ac075c21" target="_blank" rel="noopener noreferrer">Pensamento Computacional com Python</a> |  
							<a href="https://ticemtrilhas.org.br/certificate-validation?code=6382229f-bcb9-4221-b20a-e34526a077cc" target="_blank" rel="noopener noreferrer">Segurança Cibernética: do Ataque à Defesa</a>.
						 </p></a>
					  </p>
					  </p>
					</div>

				</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfólio</h5>
   			<h1>Alguns dos meus projetos</h1>

   			<p class="lead">Abaixo você pode encontrar meus principais projetos e meus códigos no GitHub.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'img/bolsocontrolado.jpg' %}" alt="bolsocontrolado">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Bolso controlado</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Desenvolvimento Web
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'img/codigo.jpg' %}" alt="codigo">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Python</h3>	     					    
		     					    	<span class="folio-types">
											Código
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'img/chatbot.jpg' %}" alt="chatbot">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Chatbot</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Programação
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{% static 'img/github.jpg' %}" alt="github">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Github</h3>	     					    
		     					    	<span class="folio-types">
											Repositório
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'img/modals/m-bolsocontrolado.jpg' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Bolso Controlado</h4>		      
					      <p>O projeto Bolso Controlado é um site desenvolvido para ajudar no controle financeiro pessoal, permitindo o registro e acompanhamento de gastos de forma prática e organizada.</p>

					      <div class="categories">Desenvolvimento Web</div>			               
					   </div>

			         <div class="link-box">
			            <a href="{% url 'bolso' %}">Leia mais</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'img/modals/m-codigo.jpg' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Python</h4>		      
					      <p>Python é uma linguagem poderosa e versátil, que combina simplicidade e legibilidade com uma vasta gama de bibliotecas, tornando o desenvolvimento de software rápido e eficiente.</p>

					      <div class="categories">Código</div>			               
					   </div>

			         <div class="link-box">
			            <a href="{% url 'python' %}">Leia mais</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      


				   </div> <!-- /modal-02 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'img/modals/m-chatbot.jpg' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Chatbot</h4>		      
					      <p>Um chatbot é um programa de inteligência artificial projetado para interagir com humanos por meio de conversas, respondendo perguntas e realizando tarefas de forma automatizada.</p>

					      <div class="categories">Programação</div>
					   </div>

			         <div class="link-box">
			            <a href="{% url 'chatbot' %}">Leia mais</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{% static 'img/modals/m-github.jpg' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Github</h4>		      
					      <p>O GitHub é uma plataforma de hospedagem de código-fonte e controle de versão que permite a colaboração entre desenvolvedores, facilitando o gerenciamento de projetos e o compartilhamento de código.</p>

					      <div class="categories">Repositório</div>			               
					   </div>

			         <div class="link-box">
			            <a href="{% url 'github' %}">Leia mais</a>
					      <a href="#" class="popup-modal-dismiss">Fechar</a>
			         </div>		      

				   </div> <!-- /modal-05 -->


				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 
	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Serviços</h5>
   			<h1>Como posso te ajudar?</h1>

   			<p class="lead">Confira abaixo algumas das habilidades que ofereço e como posso contribuir para o seu projeto.</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-toggles"></i></span>            

	            <div class="service-content">	

					<h3>Python</h3>

		            <p class="desc">O Python é uma linguagem de programação poderosa e versátil, conhecida por sua sintaxe simples e clara. Utilizada em diversas áreas como desenvolvimento web, automação, análise de dados, inteligência artificial e aprendizado de máquina, o Python é amplamente adotado por sua facilidade de aprendizado e grande comunidade de desenvolvedores.
	        			</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Desenvolvimento Web</h3>  

		            <p class="desc">O desenvolvimento web envolve a criação e manutenção de sites e aplicativos, abrangendo tanto o lado do cliente (frontend) quanto o lado do servidor (backend), utilizando tecnologias como HTML, CSS, JavaScript, frameworks, bancos de dados e APIs para criar experiências interativas e funcionais para os usuários.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>		            

	            <div class="service-content">

	            	<h3>HTML</h3>

		            <p class="desc">O HTML (HyperText Markup Language) é a linguagem de marcação fundamental para a criação de páginas web. Ele estrutura o conteúdo da web, definindo elementos como cabeçalhos, parágrafos, links, imagens e formulários, permitindo que os navegadores exibam as informações de forma organizada e acessível.
	        			</p> 

	            </div> 	            	               

			   </div> <!-- /service -->

				<div class="service">

					<span class="icon"><i class="icon-image"></i></span>	              

	            <div class="service-content">

	            	<h3>CSS</h3>

		            <p class="desc">O CSS (Cascading Style Sheets) é uma linguagem de estilo usada para definir a aparência visual de uma página web. Com o CSS, é possível controlar aspectos como cores, fontes, layouts e espaçamento, tornando o design mais atraente e responsivo em diferentes dispositivos.
	         		</p> 
	         		
	            </div>                

				</div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-earth"></i></span>	            

	            <div class="service-content">

	            	<h3>Hospedagem</h3>

		            <p class="desc">A hospedagem web é essencial para tornar seu site acessível na internet, oferecendo infraestrutura e recursos para garantir que ele esteja sempre disponível e funcionando de forma eficiente.
	         		</p>

	            </div>	               

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-chat"></i></span>	   	           

	            <div class="service-content">

	            	 <h3>Banco de dados</h3>

		            <p class="desc">Um banco de dados é um sistema para armazenar e gerenciar dados de forma eficiente. Ele permite a recuperação rápida de informações usando linguagens como SQL para realizar operações como leitura, inserção e atualização. Bancos de dados são essenciais para aplicações que manipulam grandes volumes de dados, como sites e sistemas.
	        			</p> 
	        			
	            </div>	               

			   </div> <!-- /service -->

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->


   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Onde me encontrar</h5>

   			<p>
            Barueri, São Paulo, Brasil</p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Entre em contato</h5>

   			<p>m4th3vz@gmail.com</p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>WhatsApp</h5>

   			<p>Número indisponível no momento</p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
					<li><a href="https://www.linkedin.com/in/matheusdeoliveirasantos/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/m4th3vz" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a></li>
					<li><a href="https://www.instagram.com/_m4th3vz" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>					
			   </ul>
	      		
	      </div>

      	<div class="col-eight tab-full">
	      	<div class="copyright">
		        	<span>© Copyright 2025 </span> 
		        	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span> 
		        	<span>Distributed by <a href="https://themewagon.com/">themewagon</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>

</body>

</html>